#header{
  margin-top: 120px;
  height: 400px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(114, 145, 160);
  color: #ffffff;

}

.avatar{
  background-color: #0051a8;
  background-image: url("https://www.transparenttextures.com/patterns/kinda-jean.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}



