#header{
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bea326;
  background-image: url("https://www.transparenttextures.com/patterns/kinda-jean.png");
  color: #ffffff;

}

.avatar{

  max-width: 100%;
  height: auto;
  border-radius: 0%;
  
}

#header h2 {
  margin: 0%;
}



