.new-tweet {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.new-tweet div {
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet label {
  padding-top: 2em;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  
  
}

.new-tweet textarea {
  width: 100%;
  background-color: #f4f1ec;
  display: flex;
  justify-content: flex-start;
  border-style: none;
  border-color: Transparent;
  overflow: hidden;
  outline: none;
  border-bottom:3px solid grey;
}

.new-tweet button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #ffffff;
}

#counter{
  font-weight: 900;
  color: grey;
}

#error-msg{
  display: none;
  border: 5px solid red;
  padding-top: 0px;

}

#error-msg span {
  color: red;
}

form .fa {
  color: red;
}